In [38]:
import kagglehub

path1 = kagglehub.dataset_download("mokar2001/house-price-tehran-iran")
print("Path to dataset 1 files:", path1)

# path2 = kagglehub.dataset_download("mahyarheidari/tehran-house-price")
# print("Path to dataset 2 files:", path2)

# path3 = kagglehub.dataset_download("foadsadrh/tehran-house-price2016to2024")
# print("Path to dataset 3 files:", path3)

path4 = kagglehub.dataset_download("erfannahidi/house-for-sale-ads-on-divar-site-iran-tehran")
print("Path to dataset 4 files:", path4)

path5 = kagglehub.dataset_download("valakhorasani/tehran-house-prices-dataset")
print("Path to dataset 5 files:", path5)

path6 = kagglehub.dataset_download("mehranrezvani/tehran-house-price-divar")
print("Path to dataset 6 files:", path6)

path7 = kagglehub.dataset_download("peimandaii/house-price-dataset")
print("Path to dataset 7 files:", path7)

path8 = kagglehub.dataset_download("ilyanozary/house-price-in-tehranreal-data")
print("Path to dataset 8 files:", path8)

Path to dataset 1 files: /home/arash/.cache/kagglehub/datasets/mokar2001/house-price-tehran-iran/versions/1
Path to dataset 4 files: /home/arash/.cache/kagglehub/datasets/erfannahidi/house-for-sale-ads-on-divar-site-iran-tehran/versions/1
Path to dataset 5 files: /home/arash/.cache/kagglehub/datasets/valakhorasani/tehran-house-prices-dataset/versions/1
Path to dataset 6 files: /home/arash/.cache/kagglehub/datasets/mehranrezvani/tehran-house-price-divar/versions/2
Path to dataset 7 files: /home/arash/.cache/kagglehub/datasets/peimandaii/house-price-dataset/versions/3
Path to dataset 8 files: /home/arash/.cache/kagglehub/datasets/ilyanozary/house-price-in-tehranreal-data/versions/1

In [40]:
import os
import glob

def find_csv_files(base_path): 
    return glob.glob(os.path.join(base_path, "**/*.csv"), recursive=True)

all_paths = [
    path1, path4, path5, path6, path7, path8,
]

datasets_csv_files = {}
for path in all_paths:
    csvs = find_csv_files(path)
    datasets_csv_files[path] = csvs
print(datasets_csv_files)

# csv_files = []
# for path in all_paths:
#     found = find_csv_files(path)
#     print(f"Found in {path}: {found}")
#     csv_files.extend(found)

{'/home/arash/.cache/kagglehub/datasets/mokar2001/house-price-tehran-iran/versions/1': ['/home/arash/.cache/kagglehub/datasets/mokar2001/house-price-tehran-iran/versions/1/housePrice.csv'], '/home/arash/.cache/kagglehub/datasets/erfannahidi/house-for-sale-ads-on-divar-site-iran-tehran/versions/1': ['/home/arash/.cache/kagglehub/datasets/erfannahidi/house-for-sale-ads-on-divar-site-iran-tehran/versions/1/divar-tehran-home.csv'], '/home/arash/.cache/kagglehub/datasets/valakhorasani/tehran-house-prices-dataset/versions/1': ['/home/arash/.cache/kagglehub/datasets/valakhorasani/tehran-house-prices-dataset/versions/1/TehranHouse.csv'], '/home/arash/.cache/kagglehub/datasets/mehranrezvani/tehran-house-price-divar/versions/2': ['/home/arash/.cache/kagglehub/datasets/mehranrezvani/tehran-house-price-divar/versions/2/Tehran-Houses-DIVAR.csv'], '/home/arash/.cache/kagglehub/datasets/peimandaii/house-price-dataset/versions/3': ['/home/arash/.cache/kagglehub/datasets/peimandaii/house-price-dataset/versions/3/f.csv'], '/home/arash/.cache/kagglehub/datasets/ilyanozary/house-price-in-tehranreal-data/versions/1': ['/home/arash/.cache/kagglehub/datasets/ilyanozary/house-price-in-tehranreal-data/versions/1/housePrice.csv']}

In [41]:
import pandas as pd

def load_dataset_csvs(csv_file_list):
    dfs = []
    for csv_file in csv_file_list:
        try:
            df = pd.read_csv(csv_file)
            df.columns = df.columns.str.lower().str.strip().str.replace(" ", "_").str.replace(r"[^\w_]", "", regex=True)
            dfs.append(df)
        except Exception as e:
            print(f"Failed to read {csv_file}: {e}")
    return dfs

for dataset_path, csv_files in datasets_csv_files.items():
    dfs = load_dataset_csvs(csv_files)
    print(f"Loaded {len(dfs)} files from {dataset_path}")

Loaded 1 files from /home/arash/.cache/kagglehub/datasets/mokar2001/house-price-tehran-iran/versions/1
Loaded 1 files from /home/arash/.cache/kagglehub/datasets/erfannahidi/house-for-sale-ads-on-divar-site-iran-tehran/versions/1
Loaded 1 files from /home/arash/.cache/kagglehub/datasets/valakhorasani/tehran-house-prices-dataset/versions/1
Loaded 1 files from /home/arash/.cache/kagglehub/datasets/mehranrezvani/tehran-house-price-divar/versions/2
Loaded 1 files from /home/arash/.cache/kagglehub/datasets/peimandaii/house-price-dataset/versions/3
Loaded 1 files from /home/arash/.cache/kagglehub/datasets/ilyanozary/house-price-in-tehranreal-data/versions/1

In [ ]:
# from collections import defaultdict
# import pandas as pd

# def clean_columns(columns: pd.Index) -> pd.Index:
#     cleaned = (
#         columns
#         .str.lower()
#         .str.strip()
#         .str.replace(" ", "_")
#         .str.replace(r"[^\w_]", "", regex=True)
#     )
#     return cleaned

# def group_csvs_by_dataset(csv_paths):
#     groups = defaultdict(list)
#     for path in csv_paths:
#         # Extract dataset identifier from the path — for example,
#         # take folder names from path parts, e.g.:
#         # /home/arash/.cache/kagglehub/datasets/{author}/{dataset}/versions/{version}/file.csv
#         parts = path.split(os.sep)
#         # Make sure path parts are long enough, then:
#         # dataset key = "{author}/{dataset}"
#         if len(parts) >= 7:
#             dataset_key = f"{parts[-7]}/{parts[-6]}"
#         else:
#             dataset_key = "unknown"
#         groups[dataset_key].append(path)
#     return groups

# def load_and_merge_dataset(csv_paths):
#     dfs = []
#     for path in csv_paths:
#         df = pd.read_csv(path)
#         df.columns = clean_columns(df.columns)
#         dfs.append(df)
#     merged = pd.concat(dfs, ignore_index=True)
#     return merged

# grouped = group_csvs_by_dataset(csv_files)

# merged_datasets = {} 
# for dataset_name, paths in grouped.items():
#     merged_datasets[dataset_name] = load_and_merge_dataset(paths)

/tmp/ipykernel_28603/3875643381.py:33: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [ ]:
# from typing import Optional

# def load_and_inspect(csv_path: str) -> Optional[pd.DataFrame]:
#     try:
#         df = pd.read_csv(csv_path)
#         df.columns = clean_columns(df.columns)
#         print(f"Loaded {csv_path} with shape {df.shape}")
#         print(df.head(2))
#         return df
#     except Exception as e:
#         print(f"Failed loading {csv_path}: {e}")
#         return None

# dfs = [load_and_inspect(path) for path in csv_files]
# dfs = [df for df in dfs if df is not None]

Loaded /home/arash/.cache/kagglehub/datasets/mokar2001/house-price-tehran-iran/versions/1/housePrice.csv with shape (3479, 8)
  area  room  parking  warehouse  elevator  address         price  priceusd
0   63     1     True       True      True  Shahran  1.850000e+09  61666.67
1   60     1     True       True      True  Shahran  1.850000e+09  61666.67
Loaded /home/arash/.cache/kagglehub/datasets/foadsadrh/tehran-house-price2016to2024/versions/2/2016_Tehran_House_Price.csv with shape (16756, 18)
    category propertytypes  title  \
0  خرید-فروش      آپارتمان    NaN
1  خرید-فروش      آپارتمان    NaN

                                             address  latitude  longitude  \
0  نوشهر                                         ...       0.0        0.0
1  بلوار فردوس                                   ...       0.0        0.0

     age       price  meter   loan  parking  elevator  warehouse  rooms  \
0  100.0  2020000000   92.0  False        1         0          1      2
1    0.0           0   60.0  False        1         0          1      2

   floor                validdate   city             region
0      0  2016-10-02 10:26:21.383  نوشهر  گروه اطلاعات پایه
1      4  2016-10-02 10:24:17.383  تهران  گروه اطلاعات پایه
Loaded /home/arash/.cache/kagglehub/datasets/foadsadrh/tehran-house-price2016to2024/versions/2/Regions.csv with shape (479, 5)
   id     name               link        lat       long
0   1    دربند   region-1-darband  35.813517  51.429482
1   2  نیاوران  region-1-niavaran  35.816056  51.470947
Loaded /home/arash/.cache/kagglehub/datasets/foadsadrh/tehran-house-price2016to2024/versions/2/2024_Tehran_House_Price.csv with shape (84099, 18)
    category propertytypes            title  \
0  خرید-فروش      آپارتمان              NaN
1  خرید-فروش      آپارتمان  خرید / آپارتمان

                                             address   latitude  longitude  \
0  توحیدها                                       ...   0.000000   0.000000
1  شیخ بهایی شمالی                               ...  35.765915  51.394894

   age         price  meter   loan  parking  elevator  warehouse  rooms  \
0    0  2.850000e+11  140.0   True        1         1          1      3
1    0  2.900000e+11  114.0  False        1         1          1      3

   floor                validdate           city     region
0      5  2024-01-02 16:14:12.453  تهران منطقه 2   شهرک غرب
1      4  2024-11-04 15:18:28.580  تهران منطقه 3  شیخ بهایی
Loaded /home/arash/.cache/kagglehub/datasets/foadsadrh/tehran-house-price2016to2024/versions/2/2022_Tehran_House_price.csv with shape (169494, 18)
    category propertytypes title  \
0  خرید-فروش      آپارتمان   NaN
1  خرید-فروش      آپارتمان   NaN

                                             address  latitude  longitude  \
0  دهکده المپیک                                  ...       0.0        0.0
1  دهکده المپیک                                  ...       0.0        0.0

   age         price  meter   loan  parking  elevator  warehouse  rooms  \
0    1  105000000000  172.0  False        1         1          1      3
1    1   56000000000  118.0  False        1         1          1      3

   floor                validdate                 city        region
0      6  2022-02-16 10:48:24.270  تهران منطقه 21 و 22  دهکده المپیک
1      3  2022-02-16 10:48:17.110  تهران منطقه 21 و 22  دهکده المپیک
Loaded /home/arash/.cache/kagglehub/datasets/foadsadrh/tehran-house-price2016to2024/versions/2/2020_Tehran_House_Price.csv with shape (91680, 18)
    category propertytypes title  \
0  خرید-فروش      آپارتمان   NaN
1  خرید-فروش      آپارتمان   NaN

                                             address  latitude  longitude  \
0  خیابان عدل                                    ...       0.0        0.0
1  علامه شمالی                                   ...       0.0        0.0

   age        price  meter   loan  parking  elevator  warehouse  rooms  floor  \
0    1  18000000000   82.0  False        1         1          1      2      6
1   13  29750000000  170.0  False        1         1          0      4      2

                 validdate           city      region
0  2020-02-15 09:41:22.710  تهران منطقه 5        پونک
1  2020-01-02 16:42:49.740  تهران منطقه 2  سعادت آباد
Loaded /home/arash/.cache/kagglehub/datasets/foadsadrh/tehran-house-price2016to2024/versions/2/2017_Tehran_House_Price.csv with shape (58936, 18)
    category propertytypes  title  \
0  خرید-فروش      آپارتمان    NaN
1  خرید-فروش      آپارتمان    NaN

                                             address  latitude  longitude  \
0  سهروردی شمالی                                 ...       0.0        0.0
1  شریعتی-طالقانی                                ...       0.0        0.0

   age       price  meter   loan  parking  elevator  warehouse  rooms  floor  \
0    0           0  100.0  False        1         0          1      2      3
1    7  3220000000   70.0  False        1         0          1      1      4

                 validdate   city             region
0  2017-06-13 18:34:46.913  تهران  گروه اطلاعات پایه
1  2017-06-20 16:05:13.243  تهران  گروه اطلاعات پایه
Loaded /home/arash/.cache/kagglehub/datasets/foadsadrh/tehran-house-price2016to2024/versions/2/2021_Tehran_House_price.csv with shape (123683, 18)
    category propertytypes title  \
0  خرید-فروش      آپارتمان   NaN
1  خرید-فروش      آپارتمان   NaN

                                             address   latitude  longitude  \
0  شهران                                         ...   0.000000   0.000000
1  شهرک غرب                                      ...  35.756414  51.375858

   age        price  meter   loan  parking  elevator  warehouse  rooms  floor  \
0    0  43700000000   94.0  False        1         1          1      2      4
1    5  70000000000   95.0  False        1         1          1      2      3

                 validdate           city       region
0  2021-02-24 16:25:33.770  تهران منطقه 5  شهران جنوبی
1  2021-03-14 18:21:16.600  تهران منطقه 2     شهرک غرب
Loaded /home/arash/.cache/kagglehub/datasets/foadsadrh/tehran-house-price2016to2024/versions/2/2023_Tehran_House_Price.csv with shape (146628, 18)
    category propertytypes                                              title  \
0  خرید-فروش      آپارتمان                  آپارتمان ۱۸۰متر تک واحدی ۲پارکینگ
1  خرید-فروش      آپارتمان  شمال جردن / 149 متر مشابه  نوساز / 2 پارکینگ /...

                                             address  latitude  longitude  \
0  ترکش دوز                                      ...       0.0        0.0
1  شمال جردن                                     ...       0.0        0.0

   age         price  meter   loan  parking  elevator  warehouse  rooms  \
0   10  288000000000  180.0  False        1         1          1      3
1    0  250000000000  149.0  False        1         1          1      3

   floor                validdate           city region
0      4  2023-09-10 10:43:22.170  تهران منطقه 3   جردن
1      1  2023-06-30 10:04:06.133  تهران منطقه 3   جردن

/tmp/ipykernel_28603/3710785114.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path)

Loaded /home/arash/.cache/kagglehub/datasets/foadsadrh/tehran-house-price2016to2024/versions/2/2018_Tehran_House_Price.csv with shape (83246, 18)
    category propertytypes title  \
0  خرید-فروش      آپارتمان   NaN
1  خرید-فروش      آپارتمان   NaN

                                             address  latitude  longitude  \
0  الهیه                                         ...       0.0        0.0
1  الهیه                                         ...       0.0        0.0

    age        price  meter   loan  parking  elevator  warehouse  rooms  \
0   0.0  23800000000  170.0  False        1         0          1      3
1  13.0  17100000000  171.0  False        1         0          1      3

   floor                validdate   city             region
0      3  2018-05-19 15:26:22.213  تهران  گروه اطلاعات پایه
1      8  2018-05-19 15:26:19.853  تهران  گروه اطلاعات پایه
Loaded /home/arash/.cache/kagglehub/datasets/foadsadrh/tehran-house-price2016to2024/versions/2/2019_Tehran_House_Price.csv with shape (82684, 18)
    category propertytypes title  \
0  خرید-فروش      آپارتمان   NaN
1  خرید-فروش      آپارتمان   NaN

                                             address  latitude  longitude  \
0  جردن                                          ...       0.0        0.0
1  کوچه 12                                       ...       0.0        0.0

   age        price  meter   loan  parking  elevator  warehouse  rooms  floor  \
0    0  20000000000   66.0  False        1         1          1      1      2
1   20  12600000000   77.0  False        1         0          1      2      4

                 validdate           city     region
0  2019-02-07 18:26:36.680  تهران منطقه 3       جردن
1  2019-04-18 16:52:51.093  تهران منطقه 6  امیر آباد
Loaded /home/arash/.cache/kagglehub/datasets/erfannahidi/house-for-sale-ads-on-divar-site-iran-tehran/versions/1/divar-tehran-home.csv with shape (3090, 8)
                         title            area          total_price  \
0  58 متر نوساز، خاوران، تفرشی              ۵۸  ۲٬۶۱۰٬۰۰۰٬۰۰۰ تومان
1        ۲۰۰متر باغ چهاردیواری  Area not found              ۲۰۳ متر

     price_per_meter            room_count            build_year  \
0   ۴۵٬۰۰۰٬۰۰۰ تومان                     ۱                  ۱۴۰۳
1  ۷۶۱٬۰۰۰٬۰۰۰ تومان  Room Count not found  Build Year not found

                                         description  \
0  58 متر نوساز\nطبقه اول\nتک خواب\nدارای پکیج\nد...
1  سلام \nباغ ۲۰۰ متری با اطلاعات زیر به فروش میر...

                                                 url
0  https://divar.ir/v/58-متر-نوساز-خاوران-تفرشی/g...
1  https://divar.ir/v/۲۰۰متر-باغ-چهاردیواری/wZGdf6tO
Loaded /home/arash/.cache/kagglehub/datasets/valakhorasani/tehran-house-prices-dataset/versions/1/TehranHouse.csv with shape (3479, 8)
  area  room  parking  warehouse  elevator  address         price  priceusd
0   63     1     True       True      True  Shahran  1.850000e+09  61666.67
1   60     1     True       True      True  Shahran  1.850000e+09  61666.67
Loaded /home/arash/.cache/kagglehub/datasets/mehranrezvani/tehran-house-price-divar/versions/2/Tehran-Houses-DIVAR.csv with shape (3479, 8)
  area  room  parking  warehouse  elevator  address       price  priceusd
0   63     1     True       True      True  Shahran  1850000000  61666.67
1   60     1     True       True      True  Shahran  1850000000  61666.67
Loaded /home/arash/.cache/kagglehub/datasets/peimandaii/house-price-dataset/versions/3/f.csv with shape (836, 6)
   area  year  rooms        location         price  floor
0    87  1400      2       Marzdaran  1.392000e+10    7.0
1    98  1397      2  Kooy-e Ferdows  1.060000e+10    5.0
Loaded /home/arash/.cache/kagglehub/datasets/ilyanozary/house-price-in-tehranreal-data/versions/1/housePrice.csv with shape (3479, 8)
  area  room  parking  warehouse  elevator  address         price  priceusd
0   63     1     True       True      True  Shahran  1.850000e+09  61666.67
1   60     1     True       True      True  Shahran  1.850000e+09  61666.67

In [ ]:
# from collections import Counter

# all_columns = [] 
# for df in dfs:
#     all_columns.extend(df.columns)

# col_freq = Counter(all_columns)
# num_dfs = len(dfs)
# print(f"Datasets loaded: {num_dfs}")
# threshold = 0.8 * num_dfs

# common_columns = [col for  col, count in col_freq.items() if count >= threshold]
# print(f"Columns appearing in >= 80% of datasets:\n{common_columns}")

Datasets loaded: 16
Columns appearing in >= 80% of datasets:
['parking', 'warehouse', 'elevator', 'address', 'price']